body {
  margin: auto;
  font-family: 'Roboto';
  background: #000000;
  color: #FFFFFF;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header svg {
  width: 3em;
  margin: auto;
  cursor: pointer;
}

.logo-barth {
  height: 100px;
  width: 100px;
}

.hamburger {
  float: right;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.download {
  margin: auto;
}

.download a {
  color: white;
  text-transform: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.download a:hover {
  background: none;
  color: #252525;
}

.opentime {
  display: -ms-grid;
  display: grid;
  text-align: right;
  font-size: 12px;
  background: #252525;
  padding-right: 20px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #ffffff;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav .close {
  float: right;
  margin: 2em;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 50px;
  margin-top: 6em;
}

ul a {
  color: #000000;
  padding: .75em 2em;
  display: block;
}

ul a:hover {
  background: #9e9a9a;
}

a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.container {
  background: #B50014;
  height: 100%;
}

.open-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

@media only screen and (min-width: 640px) {
  header {
    padding: 0px 100px;
    height: 93px;
  }
}

@media only screen and (min-width: 1281px) {
  .dry-aged {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)(2);
    grid-template-columns: repeat(2, auto);
    gap: 7em;
    padding: 4%;
    padding-right: 25%;
    margin: 0 auto;
  }

  .dry-aged-text {
    padding-left: 45%;
    padding-right: 10%;
  }

  .menu {
    display: none;
  }

  nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }

  nav svg.close {
    display: none;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  nav a {
    color: white;
    text-transform: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    padding: 2.5em 1.5em;
  }

  nav a:hover {
    background: none;
    color: #252525;
  }
}

@media only screen and (min-width: 1300px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }

  .logo-barth {
    height: 150px;
    width: 150px;
  }

  .hamburger {
    display: block;
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  background-image: url(/images/brath-metzgermeister.jpg);
  height: 42rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  margin-inline: auto;
}

.hero .hero-content {
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 348px;
  left: 0px;
  top: 287px;
}

.hero .hero-content h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.8rem;
  width: auto;
  padding-left: 18rem;
  padding-right: 5.5rem;
}

.hero .hero-content .subhead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  width: auto;
  padding-left: 18rem;
  padding-right: 5.5rem;
  padding-bottom: 2rem;
}

.hero-content {
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
  width: 629px;
  height: 21rem;
  margin-inline: auto;
}

.hero-content h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.8rem;
  width: auto;
}

.hero-content .subhead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  width: auto;
}

.dry-aged {
  background-color: #0d0d0d;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 4%;
  padding-left: 3%;
}

.dry-aged img {
  width: 100%;
  max-width: 537px;
  -o-object-fit: cover;
  object-fit: cover;
}

.dry-aged .dry-aged-text {
  padding: 30 px;
}

.dry-aged-text h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.dry-aged-text h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.dry-aged-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  max-width: 167px;
}

.column-main {
  width: 100%;
  padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: #A62120;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 174px;
  height: 47px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #3d0505;
  border: none;
}

.button-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */